.why-container {
  display: flex;
  justify-content: center;
padding: 10px;
  gap: 40px;
  flex-wrap: wrap;
}

.why-left {
  flex: 1;
  max-width: 650px;
}

.why-left h2 {
  color: var(--lightpurcolor);
  font-size: var(--mainheadfont);
  margin-bottom: 10px;
}

.why-subtext {
  color: var(--lightpurcolor);
  font-size: var(--parafont);
  margin-bottom: 30px;
}

.why-cards {


    gap: 20px;

    position: absolute;

    height: 68%;
   
    z-index: 2;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.why-cards .dei-badge-card{
  max-width:215px;
  color: #D3B5FF;
  font-size: var(--parafont);
}

.why-right {
  width: 200px;
  position: relative;
}

.why-box {
  background: #e981db;
  padding: 20px;
  border-radius: 0 0 30px 30px;
  height: 100%;
  text-align: center;
  position: relative;
}

.why-title {
  color: white;
  font-size: 36px;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 22px;
  color: white;
  letter-spacing: 4px;
  font-weight: bold;
}

.dots {
  position: absolute;
  right: 10px;
  top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dot {
  width: 24px;
  height: 24px;
  background: #f6c5e6;
  border-radius: 50%;
}



.shape-box {
 width: 499px;
    height: 629px;
    background-color: orange;
    border-radius: 24px;
    position: relative;
    z-index: 0;
}

.shape-box .m {
  position: absolute;
  height: 80%;
  background-color: var(--bgcolor, #f7c3e9);
  width: 50%;
  bottom: 0;
  left: 0;
  border-top-right-radius: 24px;
}

.shape-box .m:before,
.shape-box .m:after {
  position: absolute;
  content: "";
  width: 24px;
  aspect-ratio: 1;
  background: radial-gradient(circle 24px at top right, #0000 98%, var(--bgcolor, #f7c3e9)) top right;
}

.shape-box .m:before {
  top: -24px;
}

.shape-box .m:after {
  bottom: 0;
  right: -24px;
}
@media screen and (max-width:1254px) {
  .why-cards{
     grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:990px) {
  .shape-box{
    display: none;
  }
  
}
@media screen and (max-width:717px) {
  .why-cards{
     grid-template-columns: repeat(1, 1fr);
justify-self: center;
  }

 
}

